body {
	background-color:#1c1c1c;
	color:#efefef;
	height:100%;
	width:100%;
	overflow:hidden;
}

.estrella {
	background-color:#ffffff;
	height:3px;
	width:3px;
	position:relative;
}

.sprite {
	position:absolute;
}

#datos {
	display:none;
}

#campo-estrellas {
	z-index:-2;
	position: absolute;
}

#espacio-profundo {
	height:100%;
	width:100%;
	z-index:5;
	position: absolute;
}

#jugador {
	position: fixed;
}