/*
 * Hoja de estilos para la página principal.
 * Dadle al JSP lo que es de la representacion y a los CSS lo que es del estilo
 * visual.
 */
#menu-container {
	width:50%;
	margin:auto;
	text-align:center;
}

#menu-container div {
	margin:10px;
}

#menu-container button {
	font-size:30px;
	padding:10px;
	width:40%;
}