/*
 * Hoja de estilos generales del sitio.
 * Dadle al JSP lo que es de la representacion y a los CSS lo que es del estilo
 * visual.
 */
body {
	background-color:#1c1c31;
	color:#efefef;	
}

table {
    min-width: 75%;
    max-width: 90%;
    margin: 50px;
    padding: 5px;
    text-align:center;
}