/*
 * Hoja de estilos para el pie del sitio.
 * Dadle al JSP lo que es de la representacion y a los CSS lo que es del estilo
 * visual.
 */
#footer-content {
	position:fixed;
	bottom:0%;
	left:0%;
	min-width:99%;
	background-color: #0a0a33;
	opacity:1;
	padding: 10px;
}

#footer-copyright {
	float:left;
	min-width:25%;
}

#footer-team-members {
	float:right;
	min-width:40%;
}

#footer-about {
	clear:left;
}