/*
 * Hoja de estilos para el encabezado del sitio.
 * Dadle al JSP lo que es de la representacion y a los CSS lo que es del estilo
 * visual.
 */
 #header-content {
 	overflow:hidden;
 }
 
#header-title {
	float:left;
	width:86%;
	text-align:center;
}

#header-log-btn {
	float:right;
	position:relative;
	top:10px;
	right:10px;
	font-size:20px;
	margin:15px;
	width: 11%;
}